#chat-module {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#messages {
  overflow-y: scroll;
}

#message-form-wrapper {
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#message-form {
  display: flex;
}

#message-input {
  border: 1px solid black;
  padding: 10px;
  width: 100%;
}

#submit-button {
  background: blue;
  border-radius: 0;
  border: none;
  margin-left: auto;
  cursor: pointer;
  width: 100px;
}
